<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  <main class="app">
    <section class="weather-card">
      <p class="city">Tokyo</p>
      <h1 class="title">Today</h1>

      <div class="icon">☀️</div>

      <div class="temp">
        <span class="max">16°</span>
        <span class="slash">/</span>
        <span class="min">16°</span>
      </div>

      <p class="weather">Sunny</p>

      <p class="date">2026-01-13</p>
    </section>
  </main>

</body>
</html>
